---
import Layout from '../layouts/Brochure.astro';
---

<Layout title='For Promoters' description='Information for promoters and venue technicians' image="/cover-512.png">
  <h2>Information for Promoters</h2>
  <p>
    Cephid is designed to be as easy as possible to book and work with. The show is flexible and
    can be tailored to the venue and audience. Sets are up to 45 minutes long, or as short as 15
    minutes as the event requires.
  </p>
  <h3>Band configuration</h3>
  <p>
    Cephid can perform as a solo act, a duo, or a trio. The solo act consists of Moray on synths,
    with backing tracks. This show is entirely self-contained and can be set up and torn down
    quickly. This version of the show is ideal for support slots and festivals where a fast
    changeover is required.
  </p>
  <p>
    The duo version of the show consists of Moray on synths and Graham Brown on drums and keys.
    This version of the show is designed for events where a traditional band setup is expected.
    The version of the show requires more setup time for the extra equipment.
  </p>
  <p>
    The trio version of the show consists of Moray on synths, Graham Brown on drums and keys, and
    That Joe Payne on guest vocals. This configuration is only available for sets longer than 30
    minutes.
  </p>
  <h3>Technical requirements</h3>
  <p>
    All versions of the show are self contained for monitoring. Due to the heavy use of electronics,
    the stage is entirely silent with the exception of Joe's vocals. This means that, depending on
    FOH limits Cephid can provide either a premixed stereo feed, or if more control is required,
    a split of 8 channels.
  </p>
  <h3>Laser Harp</h3>
  <p>
    All configurations of the show can optionally include the laser harp. This is a large instrument
    that requires extra space, setup time and lighting requirements. While it can be moved easily,
    it needs to be calibrated after every move so should be set up before Cephid play (ideally
    before the audience arrive) and remain in place until they have finished.
  </p>
  <p>
    Due to the nature of the instrument and the sensors that make it work, it is not possible to be
    used in daylight, or in venues were the ambient light level cannot be controlled. It can be used
    outside, but only after sunset. The use of smoke on stage is also a requirement, so please
    ensure that the venue's fire alarm policies support the use of smoke machines, or the harp
    cannot be used.
  </p>
  <p>
    If you have any questions about any aspects of the show, please <a href="/contact">get in touch</a>.
</Layout>
