---
import { Image } from 'astro:assets';
import Layout from '../layouts/Brochure.astro';

import cover from '../images/cephid-1080-01.png';
---

<Layout>
  <!-- Eager loading so as not to delay LCP -->
  <Image src={cover} loading="eager" alt="The cover for Sparks in the Darkness by Cephid" />
  <p>
    Cephid is a new electronic and progressive music project. Their debut album <i>Sparks in the Darkness</i> will be released in early 2024. Find out more about the project <a href="/about">here</a>
  </p>
  <p>Check back soon for more news, or follow the project on social media!</p>
  <h2>Mailing list</h2>
  <div data-mooform-id="d8523066-9a96-405a-9161-d9c25af29c86" ></div>
</Layout>
