---
import { Image } from 'astro:assets';
import Layout from '../layouts/Brochure.astro';

import cover from '../images/cephid-1080-01.png';
import MailchimpSignup from '../components/MailchimpSignup.astro';
---

<Layout>
  <iframe width="720" height="405" src="https://www.youtube.com/embed/gsKJTB_8ga0?si=jTjpqQ416_IjV15wcontrols=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <!-- Eager loading so as not to delay LCP -->
  <Image src={cover} loading="eager" alt="The cover for Sparks in the Darkness by Cephid" />
  <p>
    Cephid is a new electronic and progressive music project. Their debut album <i>Sparks in the Darkness</i> will be released in early 2024. Find out more about the project <a href="/about">here</a>
  </p>
  <p>Subscribe to the mailing list for more news, or follow the project on social media!</p>
  <MailchimpSignup />
</Layout>
