---
import { Image } from 'astro:assets';
import Layout from '../layouts/Brochure.astro';

import cover from '../images/sitd-cover.png';
import MailchimpSignup from '../components/MailchimpSignup.astro';
import OrderBanner from '../components/OrderBanner.astro';
import TerminusVideo from '../components/videos/Terminus.astro';
import WorldsBeforeVideo from '../components/videos/WorldsBefore.astro';
---

<Layout>
  <!-- Eager loading so as not to delay LCP -->
  <Image
    src={cover}
    loading="eager"
    alt="The cover for Sparks in the Darkness by Cephid"
    width={800}
  />
  <OrderBanner />
  <p>
    Cephid is a new electronic and progressive music project. Their debut album <i>Sparks in the Darkness</i> will be released in early 2024. Find out more about the project <a href="/about">here.</a>
  </p>
  <p>Subscribe to the mailing list for more news, or follow the project on social media!</p>
  <MailchimpSignup />
  <WorldsBeforeVideo />
  <TerminusVideo />
</Layout>
