---
import { Image } from 'astro:assets';
import Layout from '../layouts/Brochure.astro';
import SocialLinks from '../components/SocialLinks.astro';

import logo from '../images/CEPHID-logo.png';
import MailchimpSignup from '../components/MailchimpSignup.astro';
import SpotifyEmbedCompact from '../components/SpotifyEmbedCompact.astro';
import Terminus from '../components/videos/Terminus.astro';
import WorldsBefore from '../components/videos/WorldsBefore.astro';
import { BANDCAMP_ALBUM_LINK } from '../consts';
import KleptocracyEmbedCompact from '../components/KleptocracyEmbedCompact.astro';
---

<Layout>
  <!-- Eager loading so as not to delay LCP -->
  <Image src={logo} loading="eager" alt="The Cephid logo" />
  <h1>Thank you!</h1>
  <p>
    Thank you for picking up a card! You can order Sparks in the Darkness on CD or as a download on
    <a href={BANDCAMP_ALBUM_LINK}>Bandcamp</a>. Alternatively, you can find it on your favourite
    streaming service.
  </p>
  <SpotifyEmbedCompact />
  <p>
    You can also find the Cephid remix of Kleptocracy of Orchestral Manoeuvres in the Dark on streaming services everywhere.
  </p>
  <KleptocracyEmbedCompact />
  <p>
    Subscribe to the mailing list to keep up to date with the latest news or follow Cephid on
    social media at the links below.
  </p>
  <div class="social-links">
    <SocialLinks size={48} />
  </div>
  <MailchimpSignup />
  <WorldsBefore />
  <Terminus />
</Layout>
<style>
  main {
    overflow-y: visible;
  }
  iframe {
    margin-block: 1rem;
  }
  .social-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 1rem;
  }
</style>
