---
import Layout from '../layouts/Brochure.astro'
---

<Layout title="Thank you for subscribing!">
  <h2>Thank you for subscribing!</h2>
  <p>You'll hear more from Cephid soon.</p>
  <p><a href="/">Home</a></p>
</Layout>
