---
import Layout from '../layouts/Brochure.astro';
---

<Layout title="Thanks for getting in touch!">
  <h2>Thanks for getting in touch!</h2>
  <p><a href="/">Back home</a></p>
</Layout>

<style>
  input {
    width: 100%;
  }
  button {
    padding-inline: 2rem;
    padding-block: 1rem;
  }
</style>
