---
import Layout from '../layouts/Brochure.astro'
---

<Layout title="You've unsubscribed">
  <h2>You've unsubscribed</h2>
  <p>You can now close this window.</p>
  <p><a href="/">Home</a></p>
</Layout>
