---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
// height = 70px = 3.5rem;
---

<footer>
  <span>&copy; {today.getFullYear()} Moray Macdonald. All rights reserved.</span>
  <div class="social-links">
    <SocialLinks />
  </div>
</footer>
<style>
  footer {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    font-size: 1rem;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
