---
import { Image } from 'astro:assets';
import SocialLinks from './SocialLinks.astro';
import HeaderLink from './HeaderLink.astro';
import logo from '../images/CEPHID-logo.png';
// height = 70px = 3.5rem;
---

<header>
  <nav>
    <a href="/" class="logo-link tablet-hide"><Image src={logo} alt="The Cephid logo" /></a>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/live">Live</HeaderLink>
      <!-- <HeaderLink href="/#mailingList">Mailing List</HeaderLink> -->
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
    <div class="social-links phone-hide">
    <SocialLinks />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding-inline: 1rem;
    background: #2f6e7a;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    position: sticky;
    top: 0;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .internal-links a {
    padding-inline: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 0.8rem;
    color: var(--black);
    border-bottom: 0.2rem solid transparent;
    text-decoration: none;
  }
  nav .internal-links a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  nav .internal-links a:hover {
    text-decoration: none;
    border-bottom-color: var(--accent-dark);
  }

  nav .internal-links a.active:hover {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  nav img {
    height: 2rem;
    width: auto;
  }

  .social-links,
  .social-links a {
    display: flex;
    line-height: 1;
  }

  .social-links {
    gap: 1rem;
  }

  @media (max-width: 940px) {
    .tablet-hide {
      display: none;
    }
    .logo-link {
      display: none;
    }
    .social-links > a > svg {
      line-height: 24px;
    }
  }

  @media (max-width: 780px) {
    .tablet-hide, .phone-hide {
      display: none;
    }

    header {
      display: flex;
      justify-content: center;
    }
  }
</style>
